/******************************TAG SECTION***********************************/
body{
  font-family: "Sanchez", serif;
  text-align: center;
}
/*****************************CLASS SECTION**********************************/
/* generic classes */
.align{
  padding: 1% 8%;
}
.title{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
}
.white{
  background-color: #fff;
}
.black{
  background-color: #000;
}
.red {
  background-color: #ed1c23;
}
.text-white{
  color: #fff;
}
.text-red{
  color: #ed1c23;
}
.text-black{
  color: #000;
}
/* navbar section */
.navbar{
  padding-top: 0;
  padding-bottom: 0;
}
.nav-item{
  padding: 0 18px;
}
.red-hover:hover{
  color: #ed1c23;
}
/* header section */
.img-container{
  position: absolute;
}
.header-img{
  width: 100%;
}
.text-container{
  position:relative;
}
/******************************ID SECTION************************************/
/* navbar section*/
#logo-nav{
  width: 15rem;
}
/* header section */
#header{
  margin-top: 6rem;
}
