/******************************TAG SECTION***********************************/
/*****************************CLASS SECTION**********************************/
/* generic classes */
.align{
  padding: 1% 8%;
}
/* navbar section */
.navbar-logo{
  width: 15%;
}
.nav-item{
  margin: 0 7px;
}
/******************************ID SECTION************************************/
